# Lab 4 Data Cleaning
Mark, Big Data, 10/29/19

In [350]:
import math as m
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

## Data Exploration

In [351]:
# Reading all 3 files to explore
dfs = pd.read_csv('sales.csv', encoding='ISO-8859-1')
dfa = pd.read_excel('attendance.xls')
dfc = pd.read_excel('BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')

In [352]:
list(dfa.columns)

['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16']

In [353]:
list(dfs.columns)

['Unnamed: 0',
 'event_id',
 'primary_act_id',
 'secondary_act_id',
 'purch_party_lkup_id',
 'event_name',
 'primary_act_name',
 'secondary_act_name',
 'major_cat_name',
 'minor_cat_name',
 'la_event_type_cat',
 'event_disp_name',
 'ticket_text',
 'tickets_purchased_qty',
 'trans_face_val_amt',
 'delivery_type_cd',
 'event_date_time',
 'event_dt',
 'presale_dt',
 'onsale_dt',
 'sales_ord_create_dttm',
 'sales_ord_tran_dt',
 'print_dt',
 'timezn_nm',
 'venue_city',
 'venue_state',
 'venue_postal_cd_sgmt_1',
 'sales_platform_cd',
 'print_flg',
 'la_valid_tkt_event_flg',
 'fin_mkt_nm',
 'web_session_cookie_val',
 'gndr_cd',
 'age_yr',
 'income_amt',
 'edu_val',
 'edu_1st_indv_val',
 'edu_2nd_indv_val',
 'adults_in_hh_num',
 'married_ind',
 'child_present_ind',
 'home_owner_ind',
 'occpn_val',
 'occpn_1st_val',
 'occpn_2nd_val',
 'dist_to_ven']

In [354]:
list(dfc.columns)

['Timestamp',
 'Are you going actually going trick or treating yourself?',
 'Your gender:',
 'How old are you?',
 'Which country do you live in?',
 'Which state, province, county do you live in?',
 ' [100 Grand Bar]',
 ' [Anonymous brown globs that come in black and orange wrappers]',
 ' [Any full-sized candy bar]',
 ' [Black Jacks]',
 ' [Bonkers (the candy)]',
 ' [Bonkers (the board game)]',
 ' [Bottle Caps]',
 " [Box'o'Raisins]",
 ' [Broken glow stick]',
 ' [Butterfinger]',
 ' [Cadbury Creme Eggs]',
 ' [Candy Corn]',
 ' [Candy that is clearly just the stuff given out for free at restaurants]',
 ' [Caramellos]',
 ' [Cash, or other forms of legal tender]',
 ' [Chardonnay]',
 ' [Chick-o-Sticks (we don’t know what that is)]',
 ' [Chiclets]',
 ' [Coffee Crisp]',
 ' [Creepy Religious comics/Chick Tracts]',
 ' [Dental paraphenalia]',
 ' [Dots]',
 ' [Dove Bars]',
 ' [Fuzzy Peaches]',
 ' [Generic Brand Acetaminophen]',
 ' [Glow sticks]',
 ' [Goo Goo Clusters]',
 " [Good N' Plenty]",
 ' [Gum from baseball cards]',
 ' [Gummy Bears straight up]',
 ' [Hard Candy]',
 ' [Healthy Fruit]',
 ' [Heath Bar]',
 " [Hershey's Dark Chocolate]",
 ' [Hershey’s Milk Chocolate]',
 " [Hershey's Kisses]",
 ' [Hugs (actual physical hugs)]',
 ' [Jolly Rancher (bad flavor)]',
 ' [Jolly Ranchers (good flavor)]',
 ' [JoyJoy (Mit Iodine!)]',
 ' [Junior Mints]',
 ' [Senior Mints]',
 ' [Kale smoothie]',
 ' [Kinder Happy Hippo]',
 ' [Kit Kat]',
 ' [LaffyTaffy]',
 ' [LemonHeads]',
 ' [Licorice (not black)]',
 ' [Licorice (yes black)]',
 ' [Lindt Truffle]',
 ' [Lollipops]',
 ' [Mars]',
 ' [Mary Janes]',
 ' [Maynards]',
 ' [Mike and Ike]',
 ' [Milk Duds]',
 ' [Milky Way]',
 ' [Regular M&Ms]',
 ' [Peanut M&M’s]',
 " [Blue M&M's]",
 " [Red M&M's]",
 " [Third Party M&M's]",
 ' [Minibags of chips]',
 ' [Mint Kisses]',
 ' [Mint Juleps]',
 ' [Mr. Goodbar]',
 ' [Necco Wafers]',
 ' [Nerds]',
 ' [Nestle Crunch]',
 " [Now'n'Laters]",
 ' [Peeps]',
 ' [Pencils]',
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 ' [Pixy Stix]',
 ' [Reese’s Peanut Butter Cups]',
 " [Reese's Pieces]",
 ' [Reggie Jackson Bar]',
 ' [Rolos]',
 ' [Skittles]',
 ' [Smarties (American)]',
 ' [Smarties (Commonwealth)]',
 ' [Snickers]',
 ' [Sourpatch Kids (i.e. abominations of nature)]',
 ' [Spotted Dick]',
 ' [Starburst]',
 ' [Sweet Tarts]',
 ' [Swedish Fish]',
 ' [Sweetums (a friend to diabetes)]',
 ' [Tic Tacs]',
 ' [Those odd marshmallow circus peanut things]',
 ' [Three Musketeers]',
 ' [Tolberone something or other]',
 ' [Trail Mix]',
 ' [Twix]',
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]',
 ' [Vicodin]',
 ' [Whatchamacallit Bars]',
 ' [White Bread]',
 ' [Whole Wheat anything]',
 ' [York Peppermint Patties]',
 'Please list any items not included above that give you JOY.',
 'Please list any items not included above that give you DESPAIR.',
 'Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.',
 'Guess the number of mints in my hand.',
 'Betty or Veronica?',
 '"That dress* that went viral a few years back - when I first saw it, it was ________"',
 'What is your favourite font?',
 'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
 'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
 'Which day do you prefer, Friday or Sunday?',
 'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
 'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
 ' [York Peppermint Patties] Ignore']

In [355]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
Unnamed: 0                5000 non-null int64
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
ticket_text               5000 non-null object
tickets_purchased_qty     5000 non-null int64
trans_face_val_amt        5000 non-null float64
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null object
event_dt                  5000 non-null object
presale_dt                2108 non-null object
onsale_dt                 4899 non-null object
sales_ord_create_dttm     4996 non-null object
sales_ord_tran_dt         5000 non-null object
print_dt                  4576 non-null object
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
venue_postal_cd_sgmt_1    5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null object
la_valid_tkt_event_flg    5000 non-null object
fin_mkt_nm                5000 non-null object
web_session_cookie_val    5000 non-null object
gndr_cd                   177 non-null object
age_yr                    168 non-null float64
income_amt                154 non-null float64
edu_val                   139 non-null object
edu_1st_indv_val          112 non-null object
edu_2nd_indv_val          86 non-null object
adults_in_hh_num          176 non-null float64
married_ind               157 non-null float64
child_present_ind         130 non-null float64
home_owner_ind            138 non-null float64
occpn_val                 79 non-null object
occpn_1st_val             77 non-null object
occpn_2nd_val             63 non-null object
dist_to_ven               323 non-null float64
dtypes: float64(8), int64(2), object(36)
memory usage: 1.8+ MB

In [356]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 17 columns):
Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08    57 non-null object
Unnamed: 1                                                                                                                                                                       55 non-null object
Unnamed: 2                                                                                                                                                                       52 non-null float64
Unnamed: 3                                                                                                                                                                       54 non-null object
Unnamed: 4                                                                                                                                                                       52 non-null float64
Unnamed: 5                                                                                                                                                                       54 non-null object
Unnamed: 6                                                                                                                                                                       52 non-null float64
Unnamed: 7                                                                                                                                                                       54 non-null object
Unnamed: 8                                                                                                                                                                       52 non-null float64
Unnamed: 9                                                                                                                                                                       55 non-null object
Unnamed: 10                                                                                                                                                                      52 non-null float64
Unnamed: 11                                                                                                                                                                      54 non-null object
Unnamed: 12                                                                                                                                                                      52 non-null float64
Unnamed: 13                                                                                                                                                                      55 non-null object
Unnamed: 14                                                                                                                                                                      52 non-null object
Unnamed: 15                                                                                                                                                                      54 non-null object
Unnamed: 16                                                                                                                                                                      52 non-null object
dtypes: float64(6), object(11)
memory usage: 9.1+ KB

In [357]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: datetime64[ns](1), float64(1), object(121)
memory usage: 1.2+ MB

In [358]:
dfs.head
()

()

In [359]:
dfa.head()

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

In [360]:
dfc.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

## Introduction

In this lab, I will be using the datasets Boing Boing Candy Data and Attendance Data. I have chosen to analyze these 2 data sets because they seem the most interesting and relatable to analyze. They also have a lot of complete data with not very much data missing compared to sales data. I chose to clean Boing Boing Candy Dataset because it seems like a fun dataset to clean and has many unique columns that I have a choice of to clean. I chose to clean attendance data because it is missing very little data, and even though it took me a while, I was able to figure out what all of the headers were supposed to be. I chose not to do sales data because there seemed to be lots of NaN's and I had also tried to originally clean it, however there were some very odd errors I was running into that I could not find the answers to online, or from asking a friend.

## Data Preparation 1 - Candy Data

In the Boing Boing Candy Dataset, I will be cleaning the header and the country column. First, I will replace all of the headers with more general but still descriptive things. I will also be removing unnecessary spaces from the starts/ends of all headers

In [361]:
# Creating new headers for Candy Data
new_candy_labels = [
 'Timestamp',
 'ToT by self',
 'Gender',
 'Age',
 'Country',
 'state province county',
 '[100 Grand Bar]',
 '[Anonymous brown globs that come in black and orange wrappers]',
 '[Any full-sized candy bar]',
 '[Black Jacks]',
 '[Bonkers (the candy)]',
 '[Bonkers (the board game)]',
 '[Bottle Caps]',
 "[Box'o'Raisins]",
 '[Broken glow stick]',
 '[Butterfinger]',
 '[Cadbury Creme Eggs]',
 '[Candy Corn]',
 '[Candy that is clearly just the stuff given out for free at restaurants]',
 '[Caramellos]',
 '[Cash, or other forms of legal tender]',
 '[Chardonnay]',
 '[Chick-o-Sticks (we don’t know what that is)]',
 '[Chiclets]',
 '[Coffee Crisp]',
 '[Creepy Religious comics/Chick Tracts]',
 '[Dental paraphenalia]',
 '[Dots]',
 '[Dove Bars]',
 '[Fuzzy Peaches]',
 '[Generic Brand Acetaminophen]',
 '[Glow sticks]',
 '[Goo Goo Clusters]',
 "[Good N' Plenty]",
 '[Gum from baseball cards]',
 '[Gummy Bears straight up]',
 '[Hard Candy]',
 '[Healthy Fruit]',
 '[Heath Bar]',
 "[Hershey's Dark Chocolate]",
 '[Hershey’s Milk Chocolate]',
 "[Hershey's Kisses]",
 '[Hugs (actual physical hugs)]',
 '[Jolly Rancher (bad flavor)]',
 '[Jolly Ranchers (good flavor)]',
 '[JoyJoy (Mit Iodine!)]',
 '[Junior Mints]',
 '[Senior Mints]',
 '[Kale smoothie]',
 '[Kinder Happy Hippo]',
 '[Kit Kat]',
 '[LaffyTaffy]',
 '[LemonHeads]',
 '[Licorice (not black)]',
 '[Licorice (yes black)]',
 '[Lindt Truffle]',
 '[Lollipops]',
 '[Mars]',
 '[Mary Janes]',
 '[Maynards]',
 '[Mike and Ike]',
 '[Milk Duds]',
 '[Milky Way]',
 '[Regular M&Ms]',
 '[Peanut M&M’s]',
 "[Blue M&M's]",
 "[Red M&M's]",
 "[Third Party M&M's]",
 '[Minibags of chips]',
 '[Mint Kisses]',
 '[Mint Juleps]',
 '[Mr. Goodbar]',
 '[Necco Wafers]',
 '[Nerds]',
 '[Nestle Crunch]',
 "[Now'n'Laters]",
 '[Peeps]',
 '[Pencils]',
 '[Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 '[Pixy Stix]',
 '[Reese’s Peanut Butter Cups]',
 "[Reese's Pieces]",
 '[Reggie Jackson Bar]',
 '[Rolos]',
 '[Skittles]',
 '[Smarties (American)]',
 '[Smarties (Commonwealth)]',
 '[Snickers]',
 '[Sourpatch Kids (i.e. abominations of nature)]',
 '[Spotted Dick]',
 '[Starburst]',
 '[Sweet Tarts]',
 '[Swedish Fish]',
 '[Sweetums (a friend to diabetes)]',
 '[Tic Tacs]',
 '[Those odd marshmallow circus peanut things]',
 '[Three Musketeers]',
 '[Tolberone something or other]',
 '[Trail Mix]',
 '[Twix]',
 '[Vials of pure high fructose corn syrup, for main-lining into your vein]',
 '[Vicodin]',
 '[Whatchamacallit Bars]',
 '[White Bread]',
 '[Whole Wheat anything]',
 '[York Peppermint Patties]',
 'JOY Items',
 'DESPAIR Items',
 'comments',
 'Mints in hand',
 'Betty or Veronica',
 'Dress Color',
 'favorite font',
 '[JK Rowling]',
 '[JJ Abrams]',
 '[Beyoncé]',
 '[Bieber]',
 '[Kevin Bacon]',
 '[Francis Bacon (1561 - 1626)]',
 'Friday or Sunday',
 'Appls NS or EW',
 'Website Choice',
 '[York Peppermint Patties]'];
# Setting the columns to be the new list created
dfc.columns = new_candy_labels;
list(dfc.columns)

['Timestamp',
 'ToT by self',
 'Gender',
 'Age',
 'Country',
 'state province county',
 '[100 Grand Bar]',
 '[Anonymous brown globs that come in black and orange wrappers]',
 '[Any full-sized candy bar]',
 '[Black Jacks]',
 '[Bonkers (the candy)]',
 '[Bonkers (the board game)]',
 '[Bottle Caps]',
 "[Box'o'Raisins]",
 '[Broken glow stick]',
 '[Butterfinger]',
 '[Cadbury Creme Eggs]',
 '[Candy Corn]',
 '[Candy that is clearly just the stuff given out for free at restaurants]',
 '[Caramellos]',
 '[Cash, or other forms of legal tender]',
 '[Chardonnay]',
 '[Chick-o-Sticks (we don’t know what that is)]',
 '[Chiclets]',
 '[Coffee Crisp]',
 '[Creepy Religious comics/Chick Tracts]',
 '[Dental paraphenalia]',
 '[Dots]',
 '[Dove Bars]',
 '[Fuzzy Peaches]',
 '[Generic Brand Acetaminophen]',
 '[Glow sticks]',
 '[Goo Goo Clusters]',
 "[Good N' Plenty]",
 '[Gum from baseball cards]',
 '[Gummy Bears straight up]',
 '[Hard Candy]',
 '[Healthy Fruit]',
 '[Heath Bar]',
 "[Hershey's Dark Chocolate]",
 '[Hershey’s Milk Chocolate]',
 "[Hershey's Kisses]",
 '[Hugs (actual physical hugs)]',
 '[Jolly Rancher (bad flavor)]',
 '[Jolly Ranchers (good flavor)]',
 '[JoyJoy (Mit Iodine!)]',
 '[Junior Mints]',
 '[Senior Mints]',
 '[Kale smoothie]',
 '[Kinder Happy Hippo]',
 '[Kit Kat]',
 '[LaffyTaffy]',
 '[LemonHeads]',
 '[Licorice (not black)]',
 '[Licorice (yes black)]',
 '[Lindt Truffle]',
 '[Lollipops]',
 '[Mars]',
 '[Mary Janes]',
 '[Maynards]',
 '[Mike and Ike]',
 '[Milk Duds]',
 '[Milky Way]',
 '[Regular M&Ms]',
 '[Peanut M&M’s]',
 "[Blue M&M's]",
 "[Red M&M's]",
 "[Third Party M&M's]",
 '[Minibags of chips]',
 '[Mint Kisses]',
 '[Mint Juleps]',
 '[Mr. Goodbar]',
 '[Necco Wafers]',
 '[Nerds]',
 '[Nestle Crunch]',
 "[Now'n'Laters]",
 '[Peeps]',
 '[Pencils]',
 '[Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 '[Pixy Stix]',
 '[Reese’s Peanut Butter Cups]',
 "[Reese's Pieces]",
 '[Reggie Jackson Bar]',
 '[Rolos]',
 '[Skittles]',
 '[Smarties (American)]',
 '[Smarties (Commonwealth)]',
 '[Snickers]',
 '[Sourpatch Kids (i.e. abominations of nature)]',
 '[Spotted Dick]',
 '[Starburst]',
 '[Sweet Tarts]',
 '[Swedish Fish]',
 '[Sweetums (a friend to diabetes)]',
 '[Tic Tacs]',
 '[Those odd marshmallow circus peanut things]',
 '[Three Musketeers]',
 '[Tolberone something or other]',
 '[Trail Mix]',
 '[Twix]',
 '[Vials of pure high fructose corn syrup, for main-lining into your vein]',
 '[Vicodin]',
 '[Whatchamacallit Bars]',
 '[White Bread]',
 '[Whole Wheat anything]',
 '[York Peppermint Patties]',
 'JOY Items',
 'DESPAIR Items',
 'comments',
 'Mints in hand',
 'Betty or Veronica',
 'Dress Color',
 'favorite font',
 '[JK Rowling]',
 '[JJ Abrams]',
 '[Beyoncé]',
 '[Bieber]',
 '[Kevin Bacon]',
 '[Francis Bacon (1561 - 1626)]',
 'Friday or Sunday',
 'Appls NS or EW',
 'Website Choice',
 '[York Peppermint Patties]']

As seen above, the columns have all been cleaned up and renamed to be smaller but just as descriptive. Now I am going to clean up the Country section. First I am going to change everything into uppercase then group by unique names

In [362]:
# Here I am looking at what all of the unique entries are for the Country section. In the next code block I use len
# And with len I find out that there are 102 unique entries for me to clean up
country_list = dfc['Country'].unique()
country_list

array(['Canada', 'usa', 'US', 'USA', 'UK', 'United States of America',
       'uSA', 'Japan', 'united states', 'USA ', 'canada', 'United States',
       'us', 'france', 'USSA', 'United States of America ', 'U.S.A.',
       'A tropical island south of the equator', 'england', 'uk',
       'Switzerland', 'Murica', 'United Kingdom', 'Neverland', 'USA!',
       'this one',
       "USA (I think but it's an election year so who can really tell)",
       'Korea', 51, 'Usa', nan, 'U.S.', 'Us', 'America ', 'Units States',
       'belgium', 'croatia', 'United states', 'Portugal', 'England',
       'USA USA USA', 'the best one - usa', 'USA! USA! USA!', 47,
       'united states ', 'Cascadia', 'españa', 'u.s.',
       "there isn't one for old men", 'United States ', 'Panama',
       'one of the best ones', 'The Yoo Ess of Aaayyyyyy',
       'United Kindom', 'France', 'America', 'Australia', 'hungary',
       'united states of america', 'UK ', 'Austria', 'Somewhere',
       'New Zealand', 54, 'Germany', 'Mexico', 44, 'Brasil',
       "god's country", 'South Korea', 'USA!!!!!!', 'Philippines',
       ' United States', 'EUA', 'USA! USA!', 45, 'sweden', 'Canada ',
       'United Sates', "Sub-Canadian North America... 'Merica",
       'The Netherlands', 'Finland', 'Trumpistan', 'U.s.', 'Merica',
       'China', 'germany', 'See above', 'UNited States', 'kenya', 30,
       'Netherlands', 'The republic of Cascadia ', 'United Stetes',
       'america', 'Not the USA or Canada', 'USA USA USA USA',
       'New Zealand ', 'United  States of America', 'netherlands',
       'Denial', 'United State'], dtype=object)

In [363]:
len(country_list)

102

Now that I have looked through all of the entries, and discovered how many unique entries there are, I am ready to normalize these entries by setting everything to lowercase and stripping all of the extra spaces

In [364]:
dfc["Country"] = dfc["Country"].str.lower()
dfc["Country"] = dfc["Country"].str.strip()
dfc["Country"].unique()

array(['canada', 'usa', 'us', 'uk', 'united states of america', 'japan',
       'united states', 'france', 'ussa', 'u.s.a.',
       'a tropical island south of the equator', 'england', 'switzerland',
       'murica', 'united kingdom', 'neverland', 'usa!', 'this one',
       "usa (i think but it's an election year so who can really tell)",
       'korea', nan, 'u.s.', 'america', 'units states', 'belgium',
       'croatia', 'portugal', 'usa usa usa', 'the best one - usa',
       'usa! usa! usa!', 'cascadia', 'españa',
       "there isn't one for old men", 'panama', 'one of the best ones',
       'the yoo ess of aaayyyyyy', 'united kindom', 'australia',
       'hungary', 'austria', 'somewhere', 'new zealand', 'germany',
       'mexico', 'brasil', "god's country", 'south korea', 'usa!!!!!!',
       'philippines', 'eua', 'usa! usa!', 'sweden', 'united sates',
       "sub-canadian north america... 'merica", 'the netherlands',
       'finland', 'trumpistan', 'merica', 'china', 'see above', 'kenya',
       'netherlands', 'the republic of cascadia', 'united stetes',
       'not the usa or canada', 'usa usa usa usa',
       'united  states of america', 'denial', 'united state'],
      dtype=object)

In [365]:
len(dfc["Country"].unique())

69

Now that I have gotten the column down to only 69 unique entires, it is time to combine all of the unique united states into one

In [366]:
dfc.loc[dfc["Country"].str.contains('us', na=False), "Country"] = 'usa'
dfc.loc[dfc["Country"].str.contains('united states', na=False), "Country"] = 'usa'
dfc["Country"] = dfc["Country"].str.replace('murica', 'usa')
dfc["Country"] = dfc["Country"].str.replace('units states', 'usa')
dfc["Country"] = dfc["Country"].str.replace('the yoo ess of aaayyyyyy', 'usa')
dfc["Country"] = dfc["Country"].str.replace('united sates', 'usa')
dfc["Country"] = dfc["Country"].str.replace("sub-canadian north america... 'merica", 'usa')
dfc["Country"] = dfc["Country"].str.replace('united stetes', 'usa')
dfc["Country"] = dfc["Country"].str.replace('united state', 'usa')
dfc["Country"] = dfc["Country"].str.replace('united  states of america', 'usa')
dfc["Country"] = dfc["Country"].str.replace('merica', 'usa')
dfc["Country"] = dfc["Country"].str.replace('trumpistan', 'usa')
dfc["Country"] = dfc["Country"].str.replace('u.s.a', 'usa')
dfc["Country"] = dfc["Country"].str.replace('u.s.', 'usa')
dfc["Country"].unique()

array(['canada', 'usa', 'uk', 'japan', 'france', 'usa.',
       'a tropical island south of the equator', 'england', 'switzerland',
       'united kingdom', 'neverland', 'this one', 'korea', nan, 'ausa',
       'belgium', 'croatia', 'portugal', 'cascadia', 'españa',
       "there isn't one for old men", 'panama', 'one of the best ones',
       'united kindom', 'hungary', 'somewhere', 'new zealand', 'germany',
       'mexico', 'brasil', "god's country", 'south korea', 'philippines',
       'eua', 'sweden', 'the netherlands', 'finland', 'china',
       'see above', 'kenya', 'netherlands', 'the republic of cascadia',
       'denial'], dtype=object)

In [367]:
len(dfc["Country"].unique())

43

Now merging repeats of countries and removing all bad answers

In [368]:
dfc["Country"] = dfc["Country"].str.replace('united kingdom', 'uk')
dfc["Country"] = dfc["Country"].str.replace('united kindom', 'uk')
dfc.drop(dfc.loc[dfc["Country"]=='a tropical island south of the equator'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='neverland'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='nan'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='españa'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='somewhere'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=="there isn't one for old men"].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='one of the best ones'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=="god's country"].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='eua'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='see above'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='the republic of cascadia'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='denial'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='cascadia'].index, inplace=True)
dfc.drop(dfc.loc[dfc["Country"]=='this one'].index, inplace=True)
dfc["Country"] = dfc["Country"].str.replace('the netherlands', 'netherlands')
dfc["Country"] = dfc["Country"].str.replace('south korea', 'korea')

dfc["Country"].unique()

array(['canada', 'usa', 'uk', 'japan', 'france', 'usa.', 'england',
       'switzerland', 'korea', nan, 'ausa', 'belgium', 'croatia',
       'portugal', 'panama', 'hungary', 'new zealand', 'germany',
       'mexico', 'brasil', 'philippines', 'sweden', 'netherlands',
       'finland', 'china', 'kenya'], dtype=object)

## Data Preparation 2

I am now going to be cleaning the attendance dataset of its headers and removing some rows of unneccessary data or and removing weird symbols from some rows of data

In [369]:
new_attendance_labels = ['state',
                         'tot_ada_%',
                         'tot_std_err_ada',
                         'tot_avg_school_hrs/day',      
                         'std_err_tot_hrs/day',
                         'tot_avg_school_days/yr',
                         'std_err_tot_days/yr', 
                         'tot_avg_school_tot_hrs/yr',
                         'std_err_tot_hrs/yr',
                         'elem_ada_%',
                         'elem_std_err_ada',
                         'elem_avg_school_hrs/day',
                         'std_err_elem_hrs/day',
                         'sec_ada_%',
                         'sec_std_err_ada',
                         'sec_avg_school_hrs/day',
                         'std_err_sec_hrs/day'] 
dfa.columns = new_attendance_labels;
list(dfa.columns)

['state',
 'tot_ada_%',
 'tot_std_err_ada',
 'tot_avg_school_hrs/day',
 'std_err_tot_hrs/day',
 'tot_avg_school_days/yr',
 'std_err_tot_days/yr',
 'tot_avg_school_tot_hrs/yr',
 'std_err_tot_hrs/yr',
 'elem_ada_%',
 'elem_std_err_ada',
 'elem_avg_school_hrs/day',
 'std_err_elem_hrs/day',
 'sec_ada_%',
 'sec_std_err_ada',
 'sec_avg_school_hrs/day',
 'std_err_sec_hrs/day']

In [370]:
dfa.head()

,state,tot_ada_%,tot_std_err_ada,tot_avg_school_hrs/day,std_err_tot_hrs/day,tot_avg_school_days/yr,std_err_tot_days/yr,tot_avg_school_tot_hrs/yr,std_err_tot_hrs/yr,elem_ada_%,elem_std_err_ada,elem_avg_school_hrs/day,std_err_elem_hrs/day,sec_ada_%,sec_std_err_ada,sec_avg_school_hrs/day,std_err_sec_hrs/day
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

I can see that there are still some unnecessary columns at the top, so now I am going to remove those so I have just the columns at the top that we need

In [371]:
# I couldnt figure out how to drop these rows to get just a header so I am re-reading the file and changing
# the headers that way
dfa = pd.read_excel('attendance.xls',
                   header=3,
                   names = new_attendance_labels)
dfa.head(10)

,state,tot_ada_%,tot_std_err_ada,tot_avg_school_hrs/day,std_err_tot_hrs/day,tot_avg_school_days/yr,std_err_tot_days/yr,tot_avg_school_tot_hrs/yr,std_err_tot_hrs/yr,elem_ada_%,elem_std_err_ada,elem_avg_school_hrs/day,std_err_elem_hrs/day,sec_ada_%,sec_std_err_ada,sec_avg_school_hrs/day,std_err_sec_hrs/day
0,United States ........,93.078962,0.218555,6.64470,0.017650,180.0,0.142993,1192.6472,3.0859,94.004983,0.269369,6.656056,0.015998,91.1181,0.432223,6.59439,0.040308
1,Alabama .................,93.812371,1.237261,7.02852,0.065621,180.0,0.755110,1266.6205,12.3343,93.776375,1.839154,7.038473,0.075944,94.561,0.37928,7.13724,0.17312
2,Alaska ..................,89.917597,1.215976,6.47688,0.049882,180.0,3.427735,1162.9084,22.8639,91.281537,1.563482,6.486785,0.053082,93.2409,1.57371,6.24087,0.145993
3,Arizona .................,89.036961,2.952601,6.43369,0.091917,181.0,1.678664,1159.1144,14.4327,88.904393,3.905033,6.443155,0.102053,88.9797,3.22058,6.36909,0.248824
4,Arkansas ................,91.827111,1.352924,6.88542,0.061468,179.0,0.201577,1228.8881,10.6821,92.093201,2.091651,6.932160,0.076546,90.812,2.23155,6.76751,0.095928
5,California ..............,93.241017,0.711649,6.24064,0.066364,181.0,0.439441,1128.7694,12.5276,94.931421,0.753808,6.289745,0.051471,89.3609,1.44673,6.14262,0.202711
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Colorado ................,93.887162,0.440366,7.00761,0.051954,171.0,1.047398,1199.2969,9.9247,94.535267,0.447224,6.960578,0.066373,91.2429,1.28132,7.00875,0.105105
8,Connecticut .............,87.925871,2.984395,6.46655,0.087829,181.0,0.137733,1173.0770,15.9229,87.372240,3.977535,6.469634,0.111509,93.7472,0.68057,6.46219,0.091594
9,Delaware ................,89.770581,1.754942,6.67801,0.089584,181.0,0.831973,1208.2303,18.6503,89.363391,2.502472,6.766382,0.060578,‡,(†),6.54407,0.225909

Now that I cleaned up the headers to be readable and understandable, it is time to remove some unnecessary rows from this data, such as the rows of NaN values

In [372]:
dfa.tail(10)

,state,tot_ada_%,tot_std_err_ada,tot_avg_school_hrs/day,std_err_tot_hrs/day,tot_avg_school_days/yr,std_err_tot_days/yr,tot_avg_school_tot_hrs/yr,std_err_tot_hrs/yr,elem_ada_%,elem_std_err_ada,elem_avg_school_hrs/day,std_err_elem_hrs/day,sec_ada_%,sec_std_err_ada,sec_avg_school_hrs/day,std_err_sec_hrs/day
55,Vermont .................,92.726006,3.392472,6.65638,0.073960,177.0,0.457090,1179.4527,13.5836,93.081166,4.498027,6.716467,0.090426,90.7783,4.08082,6.4075,0.176015
56,Virginia ................,94.677993,0.460467,6.61718,0.050234,181.0,0.159185,1197.3283,9.1034,95.596850,0.349639,6.611134,0.032699,93.9422,0.5841,6.67654,0.187479
57,Washington ..............,82.855625,3.056990,6.22202,0.080353,179.0,0.173674,1116.5367,14.4906,81.047004,4.416025,6.378638,0.045202,85.7672,2.75371,5.89289,0.266992
58,West Virginia ...........,94.009760,0.987722,6.87364,0.070124,182.0,0.497818,1251.2268,13.6853,94.374244,1.315128,6.879590,0.093158,92.846,0.408932,6.82534,0.136584
59,Wisconsin ...............,94.950856,0.566144,6.91175,0.042731,180.0,0.736128,1246.4809,8.6319,95.375952,0.414753,6.886868,0.048538,93.0196,1.90793,7.01951,0.144539
60,Wyoming .................,92.353008,1.154487,6.85867,0.045848,175.0,1.278829,1200.9323,8.3266,92.190909,1.647681,6.850612,0.054651,92.3894,0.749597,6.97859,0.0679
61,†Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,‡Reporting standards not met (too few cases).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
# Dropping all rows of NaN Values
dfa.dropna(how='all', inplace = True)

In [374]:
# I did some looking around in this and the actual file, it seems as though line 61 and 62 are unnecessary 
dfa.drop([61,62], inplace=True)

## Conclusion

This lab was very difficult for me to do and took me 5+ hours to complete it all. The boing boing candy dataset had the most messy data and many more unique answers to clean than the attendance dataset. I learned a lot about how to clean unique answers from the boing boind candy dataset though. I learned how to clean up headers very well, and how to drop answers that were made to be trolls, or replace answers to make them generic, rather than something such as 10 different ways of saying USA. The attendance dataset was for the most part easy. It was a struggle to be able to figure out what the headers were supposed to mean, but I eventually figured it out. I did however, run into a problem with dropping a few rows, as I was getting a different error no matter what solution I tried,but I managed to fix it. I am is a faster way to clean all the data in general, but I am glad I am finished with this lab now. This lab was by far the hardest lab I've done yet, and definitely the most tedious lab I've done too.

## Acknowlegements

Navya was a very big help to me for this lab. She was the person I turned to when I was unable to figure out some parts of the lab, or was getting funky errors. She was able to mostly help me with this, and help me succeed.